<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a44dw.temperature"
    android:installLocation="auto">

    <!-- параметр name указывает, что мы переопределили базовую application -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- screenOrientation и configChanges фиксируют ориентацию -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/themperatureGreen">

            <!-- Декларирует, какие приложения могут запускать активити и для чего -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PointGenerator"
            android:screenOrientation="portrait" />
        <!-- adjustPan декларирует, что при появлении клавиатуры невидимые элементы остаются под ней -->
        <activity
            android:name=".FocusPoint"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- adjustResize декларирует, что при появлении клавиатуры невидимые элементы подпрыгивают над ней -->
        <activity
            android:name=".AddDrug"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddSympt"
            android:windowSoftInputMode="adjustResize" />
        <!-- configChanges декларирует, что активность не будет перезапущена при изменении ориентации и все фрагменты сохранят свои состояния -->
        <activity
            android:name=".History"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AddNote"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Credits"/>
        <activity android:name=".Preferences"
            android:label="@string/menu_prefs"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>